.border-bottom_red {
  border-bottom: solid 1px #960712;
}

.hero-search{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('bgk_search.png')
}

.search-container {
  background-color: #FFF;
  position: relative;
  border-radius: 30px;
  border: 1px solid #AF0D1A;
}

.search-box {
  background-color: transparent;
  outline: none;
  height: 35px;
  font-size: 15px;
  border: 0;
  width: 100%;
}

.div-search-loupe{
  margin-left: 20px;
  margin-right: 15px;
}

.div-bt-submit{
  margin-left: 15px;
  margin-right: 20px;
}

.search-title {
  color: #AF0D1A;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  margin-top: 10px;
  font-size: 35px;
  letter-spacing: 1px;
}
