<form action="/" method="get">
  <div class="flex-grow-1 w-100 justify-content-center align-items-center" >
    <h2 class="text-uppercase fw-bold mb-3">RECHERCHER UN VIN</h2>
    <div class="d-flex flex-row justify-content-center align-items-center search-container py-2">
        <div class="div-search-loupe"><%= image_tag "search.png" %></div>
        <div class="flex-grow-1">
          <input
            class="search-box"
            type="text"
            placeholder="producteur, appellation, millésime"
            name="query"
            value="<%= params[:query] %>"
          />
        </div>
        <div class="div-bt-submit"><%= image_submit_tag "bt-search.svg", width:'30px', height:'30px' %></div>
    </div>
    <%= render 'shared/slider' %>
  </div>
</form>
