
#result-search{
  color: #1879A3;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
}

 .table_margin_center{
    margin-bottom: 1px;
    margin-top: 0px;
    text-align: center;
 }

  .table_margin_left{
    margin-bottom: 1px;
    margin-top: 0px;
    text-align: center;
 }

.table-img{
  width: 85px
}

.table-header{
  color: #000000;
  font-size: 16px;
}

.table-weight-style-height-24 {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.table-couleur {
  color: #000;
  font-size: 17px;
  padding-left: 0px;
}


.table-note {
  color: #C62525;
  font-size: 17px;
}

.table-domaine-p {
  color: #BBB1B2;
  font-size: 16px;
  margin-bottom: 0px;
}

.table-region-p {
  color: #AF0D1A;
  font-size: 15px;
}
.table-weight-style-height {
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
}

.pagination > span > a{
  background-color: #C62525;
  color: #FFFFFF;
  margin-right: 10px;
  border-radius: 4px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  text-decoration: none;
}

.pagination{
  justify-content: end;
}
.pagination > span.page.current{
  background-color: #1879A3;
  color: #FFFFFF;
  margin-right: 10px;
  border-radius: 4px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  text-decoration: none;
}
