<%= render 'shared/nav_bar' %>
<section id="hero-search" class="py-4 py-xl-5 hero-search border-bottom_red">
  <div class="container h-100">
    <div class="row h-100 my-3">
      <div
        class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center
          align-items-center mx-auto justify-content-md-center align-items-md-center justify-content-xl-center">
        <%= render 'shared/form_search_wine' %>
      </div>
    </div>
  </div>
</section>
<section>
  <%= render 'shared/tablewine' %>
</section>
<%= render 'shared/top_three' %>
